/*폰트 적용 시작*/
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: local(''),
    url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  }

/*폰트 적용 끝*/

/*노말라이즈 시작*/
    body, ul, li{
        margin:0;
        padding:0;
        list-style:none;
    }

    a{
        color:inherit;
        text-decoration: none;
    }
/*노말라이즈 끝*/

/*라이브러리 시작*/
.con{
    margin-left:auto;
    margin-right:auto;
}

.inline-grid{
    font-size:0;
}

.inline-grid > *{
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    box-sizing: border-box;
}

.text-align-center{
    text-align: center;
}

.block{
    display: block;
}
/*라이브러리 끝*/

/*커스텀 시작*/
:root{
    --site-width:1200px;
    --site-height:100%;
}

.con{
    width:var(--site-width);
}

.con-min-width{
    min-width:var(--site-width);
    padding:0 10px;
}

.con-min-height{
    min-height:var(--site-height);
}

body{
    font-family: 'Roboto', 바탕체, 'sans-serif';
    color:#003979;
    font-size:16px;
}

form{
    width:100%;
    padding:20px;
    background-color: #fff;
    box-shadow: 0 2px 5px #ccc;
    border:10px solid red;
}
header{
    padding: 20px;
}

/*헤더 시작*/
body{
    min-height: 100%;
}
h1{
    font-weight: bold;
    text-align: center;
    line-height:22px;
}

/*헤더 끝*/
/*텍스트 박스 시작*/
.text-box{
    display: inline-block;
}
.star{
    display: inline-block;
    color:#EB1551;
    font-size:14px;
}
.ratin{
    font-family: sans-serif;
}
input{
    width:calc(100% - 10px);
    padding:5px;
    border:1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}
input, select{

}
input:hover, select:hover{
    outline: none;
    border: 1px solid #095484;
    background-color: #e6eef7;
}

.logo{
    display: block;
    margin:0px auto;
}

@media (min-width: 568px){
    .option-box{
        display: flex;
        justify-content: space-between;
    }
    .text-box > *{
        width:30%;
        margin-bottom: 0;
    }

}
.result_text{
    color:#003979;
    font-size:16px;
    font-weight: bold;
    text-align: center;
}
#calc_value{
    color:#EB1551;

}
.result{
    color:#EB1551;
    font-size:14px;
}

.explain{
    text-align: center;
    font-size: 11px;
    line-height: 18px;
}
/*텍스트 박스 끝*/

/*버튼 시작*/
#refresh_button{
    background-color: whitesmoke;
    color:black;
}
/*버튼 끝*/

/*커스텀 끝*/



